# Token de acceso personal a OpenAIRE Graph
# Obtenerlo en: https://graph.openaire.eu/docs/apis/authentication
OPENAIRE_TOKEN=

# Endpoint SPARQL local (Fuseki)
FUSEKI_ENDPOINT=http://localhost:3030/kg/sparql
